In [160]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np

In [161]:
chrome_loc='C:\pywork\data_course\chromedriver\chromedriver.exe'
driver1=webdriver.Chrome(chrome_loc)

In [162]:
url_target="https://www.starbucks.co.kr/store/store_map.do"
driver1.get(url_target)

In [6]:
driver1.find_element_by_css_selector('#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a').click()

In [7]:
all_button = '#mCSB_2_container > ul > li:nth-child(1) > a'

In [8]:
driver1.find_element_by_css_selector(all_button).click()

In [9]:
sb_html=driver1.page_source

In [10]:
soup=BeautifulSoup(sb_html,'html.parser') ## 위에서 경로 지정하고, 숩으로 파싱싱

In [158]:
data=soup.select('li.quickResultLstCon')

In [159]:
len(data)

562

In [153]:
data[0].select('strong')[0]

In [156]:
data[0].string

In [141]:
sb_name = [data[i].select('strong')[0].text for i in  range(len(data))]

In [150]:
data[6].find('p').text

'서울특별시 금천구 벚꽃로 298 (가산동)1522-3232'

In [ ]:
[data[6].find('p').text for i in range(len(data))]

In [91]:
data[0].select('i.pin_general')[0].text

'리저브 매장 2번'

In [122]:
data[0].select('i')[0].string

'리저브 매장 2번'

In [145]:
df_sb.drop('name', axis = 1, inplace=True)

In [126]:
sb_type = [data[i].select('i')[0].string for i in range(len(data))]

In [104]:
df_sb = pd.DataFrame(np.array(data_lat), columns = ['data_lat'])

In [114]:
df_sb['data_long'] = data_long

In [129]:
df_sb['type'] = sb_type

In [146]:
df_sb['name'] = sb_name

In [147]:
df_sb

              data_lat           data_long       type      name
0            37.477221          126.883683  리저브 매장 2번  가산브이타워
1           37.4798346  126.88249969999992  리저브 매장 2번   가산디지털
2            37.478701          126.885076  리저브 매장 2번  마리오아울렛
3           37.4739663  126.86935070000004  리저브 매장 2번   철산로데오
4          37.48061318         126.8805702  리저브 매장 2번  가산에스케이
..                 ...                 ...        ...       ...
557          37.579594          127.087966  리저브 매장 2번    사가정역
558           37.59689           127.08647  리저브 매장 2번     상봉역
559          37.613433          127.077484  리저브 매장 2번   묵동이마트
560          37.615368          127.076633  리저브 매장 2번      묵동
561  37.60170912407773  127.07841136432036  리저브 매장 2번     중화역

[562 rows x 4 columns]

In [98]:
data_lat = [data[i]['data-lat'] for i in range(len(data))]

In [97]:
data_long = [data[i]['data-long'] for i in range(len(data))]

In [49]:
data[0].select('3936')

[]

In [ ]:
## 크롬 개발자 모드 -> 필요한 위치 우클릭 -> copy -> select

#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a